<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EppsUrl" value="https://portal.epps.si/api"/>
    <add key="EppsUsername" value="ece"/>
    <add key="EppsPassword" value="ECE4REST@EPPS-Ondemand"/>
    <add key="Token" value="ECE4REST@EPPS-Ondemand"/>
    <add key="StoredProcedureXML" value="bis_KreirajRacunTiskarXML"/>
    <add key="Duration" value="600"/>
    <add key="MinContentLength" value="500"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="data source=10.50.196.44,52740;initial catalog=db_is_ece_demoq;persist security info=false;Application Name=EppsServices;user id=3tavServiceManager;pwd=3tavl3tal1ska32@ece;Connection Timeout=600;packet size=4096"/>
    <add name="connString1" connectionString="Data Source=3tav-sql\sql2012;Initial Catalog=DB_IS_ECE;User ID=sa;Password=prepozno;Trusted_Connection=No;Connection Timeout=600;" providerName="System.Data.SqlClient;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Epps" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62472/EppsProxyService.asmx" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Epps" contract="EppsProxyASP.EppsProxyService" name="BasicHttpBinding_Epps"/>
    </client>
  </system.serviceModel>
</configuration>