<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_PPService">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pp-test.plinovodi.si/ws/PPService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PPService"
                contract="PPServiceWCFClient.PPService" name="BasicHttpBinding_PPService" />
        </client>
    </system.serviceModel>
</configuration>