<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PripravljalecPrognozLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
	  <add name="connString" connectionString="data source=SIBPSQL1\Test3tav,51456;initial catalog=demoq_plinarna_mb;persist security info=false;Application Name=PripravljalecPrognozClient;user id=sap_connector;pwd=connector;Connection Timeout=600;packet size=4096;MultiSubnetFailover=True" />
	  <add name="connString1" connectionString="data source=SIBPMBSQL1.SIBP.local;initial catalog=DB_PLINARNA_MB;persist security info=false;Application Name=PripravljalecPrognozClient;user id=Lora;pwd=PriselZeleniJurij@01;Connection Timeout=600;packet size=4096;MultiSubnetFailover=True" />
  </connectionStrings>
  <applicationSettings>
    <PripravljalecPrognozLib.Properties.Settings>
      <setting name="PripravljalecPrognozLib_PripravljalecPrognozService_PPService"
          serializeAs="String">
        <value />
      </setting>
    </PripravljalecPrognozLib.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PPService"
                 maxReceivedMessageSize="200000000"
                 maxBufferSize="200000000"
                 maxBufferPoolSize="200000000">
		<security mode="Transport">
		   <transport clientCredentialType="Certificate" proxyCredentialType="None" realm=""/>    
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pp-test.plinovodi.si/ws/PPService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PPService"
          contract="PPServiceWCFClient.PPService" name="BasicHttpBinding_PPService"
          behaviorConfiguration="endpointCredentialBehavior"   />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointCredentialBehavior">
          <clientCredentials>
            <clientCertificate findValue="63000037dae524c3e089526a510000000037da"
                               storeLocation="CurrentUser"
                               storeName="My"
                               x509FindType="FindBySerialNumber" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>