<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="StoredProcXML" value="p_infotim_meterreaddata_xml" />
    <add key="StoredProcWarehouseXML" value="p_infotim_warehouse_xml" />
    <add key="StoredProcRemoteXML" value="p_infotim_remote_xml" />
    <add key="InfoteamUrlProd" value="https://plinarnamb.emrfusion.si:5000/" />
    <add key="InfoteamUrl" value="https://plinarnamb.emrfusion.si:5000/" />
    <add key="InfoteamUsername" value="3tav" />
    <add key="InfoteamPassword" value="Poletjesebliza2021!" />
    <add key="FileDumpPath" value="C:\temp\infotim\" />
    <add key="UploadSize" value="2000" />
    <add key="UseConnString" value="Yes" />
    <add key="ClientTimeout" value="1000" />
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="data source=SIBPMBSQL1.SIBP.local;initial catalog=DB_PLINARNA_MB;persist security info=false;Application Name=PripravljalecPrognozClient;user id=sap_connector;pwd=connector;Connection Timeout=600;packet size=4096;MultiSubnetFailover=True" />
    <add name="connStringIVB" connectionString="data source=IS01\SQL2017;initial catalog=demo_db_is_ivb;persist security info=false;Connection Timeout=600;Integrated Security=SSPI" />
  </connectionStrings>
  </configuration>
